body {
	position: relative;
	width: 96%;
	margin: 2%;
	background-color: #f9f1c0;
}

input[type=checkbox] {
	transform: scale(2);
}

div#title {
	height: 75px;
	width: 100%;
	background-color: #f0489c;
	color: #ffffff;
}

div#menubar {
	position: fixed; right:0.67em; top:0.67em;
	width: 15vw;
	height: 70px;
	background-color: #c250e5;
	/*box-align: center;*/
	text-align: center;
	color: #ffffff;
	border-radius: 10px;
	font-weight: bold;
	font-size: calc(100% + 1vw);
}

ul#coordinate-list {
	width: 100%;
	list-style: none;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
	margin: 0px;
	padding: 0px;
}

li {
	text-align: center;
}

li > span {
	font-size: calc(100% + 3vw);
}

.s-size {
	font-size: calc(100% + 2vw);
}

.already {
	background-color: #b8b8b8;
}

.hide {
	display: none;
}

.show {
	display: fixed;
	top: 2vw;
	right: 1vw;
}

#menulist {
	position: fixed;
	background-color: #EBC5F6;
	top: 8vw;
	width: 50vw;
}

#menulist > div {
	font-size: calc(100% + 3vw);
}

#channelSelect {
	font-size: 20px;
	margin: 2vw;
	width: 90vw;
	height: 8vh;
}

.back-to-top {
    position: fixed;
    right: 0.67em;
    bottom: 0.67em;
    color: #fff;
    width: 10vw;
    height: 10vw;
    z-index: 2;
    display: none;
}
.back-to-top:before {
    content: "";
    display: block;
    width: 10vw;
    height: 10vw;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: #c250e5;
}
.back-to-top:after {
    content: "↑";
    display: block;
    text-align: center;
		font-size: 5vw;
    width: 10vw;
    height: 10vw;
    line-height: 8vw;
    position: absolute;
    left: 0;
    top: 0;
}
