body {
	position: relative;
	width: 96%;
	margin: 2%;
	background-color: #f9f1c0;
}

input[type=checkbox] {
	transform: scale(2);
}

div#title {
	height: 75px;
	width: 100%;
	background-color: #f0489c;
	color: #ffffff;
}

div#menubar {
	position: fixed; right:0.67em; top:0.67em;
	width: 70px;
	height: 70px;
	background-color: #c250e5;
	/*box-align: center;*/
	text-align: center;
	color: #ffffff;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1em;
}

ul#coordinate-list {
	width: 100%;
	list-style: none;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
}

li {
	text-align: center;
}

li > span {
	font-size: 1em;
}

.s-size {
	font-size: 0.85em;
}

.already {
	background-color: #b8b8b8;
}
